/*TODO: left indent body bullets to 0*/
/*TODO: make links visible w/o hover*/

body {
  color: #999999;
  width: 700px;
  margin: 0 auto;
  background: #000000 url("tactile_noise.png") top left repeat;
}

header, nav, aside, main {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.blockgroup {
  /* check out my clearfix!! thanks, codeschool! */
  display:block;
  zoom: 1; /* IE6&7 */
}

.blockgroup:before, .blockgroup:after {
  content: "";
  display: table;
}

.blockgroup:after {
  clear: both;
}

header {
  margin: 20px 0 4px 0;
}

button {
  font-family: 'Lobster', cursive;
  font-size: 24px;
  background: transparent;
  color: #AAAAAA;
  border: none;
}

button:hover {
  color: #FFFFFF;
}

button:active, button:focus {
  border: none;
  outline: none;
}

button.contact {
  margin-left: 375px;
}

header p {
  font-size: 19px;
  line-height: 1.4;
  font-weight: 300;
  color: #AAAAAA;
  padding-bottom: 20px;
}

nav {
  background-color: #191919;
  float: right;
  display: block;
}

nav ul {
  margin: 0 auto;
  padding: 6px;
  text-align: right;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 8px;;
}

nav img {
  height: 24px;
  border: 0;
  opacity: 0.45;
}

nav img:hover {
  opacity: 1;
  transform: scale(1.2, 1.2);
}

aside {
  width: 210px;
  height: 1600px;
  float: left;
}

main {
  height: 900px;
  width: 100%;
}

h1 {
  color: #309b9d;
  font-weight: 700;
  font-size: 46px;
  margin: 50px 0 30px 0;
  text-shadow: 4px 4px 6px #000000;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  color: #309b9d;
  margin-top: 35px;
}

h3 {
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 0px;
  color: #AAAAAA;
  font-weight: normal;
  text-transform:uppercase;
}

main a, aside a {
	text-decoration: none;
  font-weight: normal;
  color: #AAAAAA;
}

main a:hover, aside a:hover {
  color: #FFFFFF;
}

ul {
  margin: 6px 0 0 0;
}

li {
  margin-top: 6px;
}

aside h2 {
  margin: 0;
}

aside h3 {
  margin: 14px 30px 8px 3px;
}

aside ul {
  margin: 0;
  padding: 0;
}

aside li {
  margin: 3px;
  list-style: none;
}
